<div class="row">
  <div class="three columns division-right">
    <div class="navsidebar">
      <h5>Configurações</h5>
      {{#link-to "home.config.indisponibilidade"}}Indisponibilidade Programada{{/link-to}}
      {{#link-to "home.config.funcionamento"}}Horário de funcionamento{{/link-to}}
      {{#link-to "home.config.feriados"}}Feriados{{/link-to}}
    </div>
  </div>
  <div class="nine columns">
    {{outlet}}
  </div>
</div>