<div class="row" style="padding-top: 50px">
  <div class="one column">&nbsp;</div>
  <div class="eleven columns">

    <div class="pull-left card">
      <h4>#229861 <small class="title">(não confirmado)</small></h4>
      <h5>Fulano de tal</h5>
      <div class="endereco">Rua Aluisio Azevedo, 129 (2,3 km daqui)</div>
      <ul class="u-cf">
        <li>Combo Pizza + Refri</li>
        <li>+ molho de mostarda</li>
        <li>e mais 5 itens...</li>
      </ul>
      <div class="bottom">
        <strong>Total</strong> <span class="valor">R$ 27,98</span><br/>
        Forma de Pagamento: Mastercard
      </div>
    </div>

    <div class="pull-left card">
      <h4>#229861 <small class="title">(não confirmado)</small></h4>
      <h5>Fulano de tal</h5>
      <div class="endereco">Rua Aluisio Azevedo, 129 (2,3 km daqui)</div>
      <ul class="u-cf">
        <li>Combo Pizza + Refri</li>
        <li>+ molho de mostarda</li>
        <li>e mais 5 itens...</li>
      </ul>
      <div class="bottom">
        <strong>Total</strong> <span class="valor">R$ 27,98</span><br/>
        Forma de Pagamento: Mastercard
      </div>
    </div>

    <div class="pull-left card">
      <h4 class="emandamento">#229861</h4>
      <h5>Fulano de tal</h5>
      <div class="endereco">Rua Aluisio Azevedo, 129 (2,3 km daqui)</div>
      <ul class="u-cf">
        <li>Combo Pizza + Refri</li>
        <li>+ molho de mostarda</li>
        <li>e mais 5 itens...</li>
      </ul>
      <div class="bottom">
        <strong>Total</strong> <span class="valor">R$ 27,98</span><br/>
        Forma de Pagamento: Mastercard
      </div>
    </div>

    <div class="pull-left card">
      <h4 class="emandamento">#229861</h4>
      <h5>Fulano de tal</h5>
      <div class="endereco">Rua Aluisio Azevedo, 129 (2,3 km daqui)</div>
      <ul class="u-cf">
        <li>Combo Pizza + Refri</li>
        <li>+ molho de mostarda</li>
        <li>e mais 5 itens...</li>
      </ul>
      <div class="bottom">
        <strong>Total</strong> <span class="valor">R$ 27,98</span><br/>
        Forma de Pagamento: Mastercard
      </div>
    </div>

    <div class="pull-left card">
      <h4 class="atrasado">#229861</h4>
      <h5>Fulano de tal</h5>
      <div class="endereco">Rua Aluisio Azevedo, 129 (2,3 km daqui)</div>
      <ul class="u-cf">
        <li>Combo Pizza + Refri</li>
        <li>+ molho de mostarda</li>
        <li>e mais 5 itens...</li>
      </ul>
      <div class="bottom">
        <strong>Total</strong> <span class="valor">R$ 27,98</span><br/>
        Forma de Pagamento: Mastercard
      </div>
    </div>

    <div class="pull-left card">
      <h4 class="fudeu">#229861</h4>
      <h5>Fulano de tal</h5>
      <div class="endereco">Rua Aluisio Azevedo, 129 (2,3 km daqui)</div>
      <ul class="u-cf">
        <li>Combo Pizza + Refri</li>
        <li>+ molho de mostarda</li>
        <li>e mais 5 itens...</li>
      </ul>
      <div class="bottom">
        <strong>Total</strong> <span class="valor">R$ 27,98</span><br/>
        Forma de Pagamento: Mastercard
      </div>
    </div>

  </div>
</div>

{{outlet}}