<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ifood Restaurant Client Platform</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Restaurant</h1>
        <form action="#" th:action="@{/restaurant}" th:object="${restaurant}" method="post">
            <p>Name: <input type="text" th:field="*{name}" disabled="true"/></p>
            <p>Code: <input type="text" th:field="*{code}" disabled="true"/></p>
            <p>FoodType: <input type="text" th:field="*{foodType}" /></p>
            <p>Available: <input type="radio" th:field="*{available}" /></p>
            <p>
                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />
            </p>
        </form>
    </body>
</html>